# pandas 基礎

## データ準備

In [1]:
import pandas as pd

In [17]:
df = pd.read_csv("./testdata/testinput.csv") #if no header, add ", header=None"
df.loc[:,"Level"].head(3)

0    Error
1    Error
2    Error
Name: Level, dtype: object

In [41]:
df.dtypes

Level            object
Date and Time    object
Source           object
Event ID          int64
Task Category    object
Log              object
Computer         object
Unnamed: 7       object
dtype: object

In [18]:
df.head(3)

,Level,Date and Time,Source,Event ID,Task Category,Log,Computer,Unnamed: 7
0,Error,9/15/2017 8:30,EventCreate,1,None,Application,testhost695.jakarta.com,JAKARTA\sulaiman
1,Error,9/15/2017 8:31,EventCreate,1,None,Application,testhost221.jakarta.com,JAKARTA\mahendrars
2,Error,9/15/2017 8:32,EventCreate,1,None,Application,testhost618.jakarta.com,JAKARTA\pahlevi

In [ ]:
# locを使った列選択
# 文法 ：iloc[rows, columns]の形で書く
# 列だけでなく行も同時にSubsettingできる

# ilocを使った列選択
# 文法 ：iloc[rows番号, columns番号]の形で書く

## ある数値(int64)が同じである行を抜く

In [24]:
df[df.loc[:,"Event ID"] == 1000]

,Level,Date and Time,Source,Event ID,Task Category,Log,Computer,Unnamed: 7
6,Error,9/15/2017 8:33,Application Error,1000,-100,Application,testhost149.jakarta.com,"Faulting application name: OUTLOOK.EXE, versio..."
30,Error,9/15/2017 8:42,Application Error,1000,-100,Application,testhost284.jakarta.com,"Faulting application name: OUTLOOK.EXE, versio..."

## ある文字列が含んでいる行を抜く

In [43]:
df.iloc[:,7].head()

0      JAKARTA\sulaiman
1    JAKARTA\mahendrars
2       JAKARTA\pahlevi
3        JAKARTA\Helena
4         JAKARTA\lucky
Name: Unnamed: 7, dtype: object

In [65]:
df[df.iloc[:,7].str.contains("OUTLOOK.EXE")].head()

,Level,Date and Time,Source,Event ID,Task Category,Log,Computer,Unnamed: 7
6,Error,9/15/2017 8:33,Application Error,1000,-100,Application,testhost149.jakarta.com,"Faulting application name: OUTLOOK.EXE, versio..."
30,Error,9/15/2017 8:42,Application Error,1000,-100,Application,testhost284.jakarta.com,"Faulting application name: OUTLOOK.EXE, versio..."

In [67]:
df.iloc[:,7].str.contains("OUTLOOK.EXE").apply(DataFrame)

ValueError: DataFrame constructor not properly called!

In [66]:
from pandas import Series, DataFrame
import numpy as np
s2 = Series(['a_b_c', 'c_d_e', np.nan, 'f_g_h'])
#s2.str.split('_')
#s2.str.split('_').apply(Series)
s2.str.split('_').str.get(1)

0      b
1      d
2    NaN
3      g
dtype: object

In [70]:
pop = {'Nevada' : {2001 : 2.4, 2002 : 2.9},
       'Ohio' : {2000 : 1.5, 2001 : 1.7}}
df2 = DataFrame(pop)
# dfの'A'列の中で先頭が英小文字に当たる行のみを抽出して、dfを更新する
r = '^[a-z]'
df2 = df2[df2['Neveda'].str.match(r)] # df['A'].str.match(r)はブールインデックス

KeyError: 'Neveda'