# pandas 前処理

## データ準備

In [28]:
import pandas as pd

In [2]:
df = pd.read_csv("./testdata/testinput.csv") #if no header, add ", header=None"

In [3]:
df.dtypes

Level            object
Date and Time    object
Source           object
Event ID          int64
Task Category    object
Log              object
Computer         object
Unnamed: 7       object
dtype: object

In [4]:
df.head(3)

,Level,Date and Time,Source,Event ID,Task Category,Log,Computer,Unnamed: 7
0,Error,9/15/2017 8:30,EventCreate,1,None,Application,testhost695.jakarta.com,JAKARTA\sulaiman
1,Error,9/15/2017 8:31,EventCreate,1,None,Application,testhost221.jakarta.com,JAKARTA\mahendrars
2,Error,9/15/2017 8:32,EventCreate,1,None,Application,testhost618.jakarta.com,JAKARTA\pahlevi

### データ操作の基礎
#### 行を操作する

loc と ilocを使うのが良さそうです。

In [8]:
# iloc[rows, columns]
# indexを使う。
df.iloc[:3,2:4] # 3の手前の行までで、2～4の手前の列まで

        Source  Event ID
0  EventCreate         1
1  EventCreate         1
2  EventCreate         1

In [9]:
# ilocを使った列選択
# 文法 ：iloc[rows番号, columns番号]の形で書く

In [10]:
# loc[rows, columns]
# 列・行の名前を使う。
df.loc[:,"Level"].head(3)

0    Error
1    Error
2    Error
Name: Level, dtype: object

## ある数値(int64)が同じである行を抜く

In [11]:
df[df.loc[:,"Event ID"] == 1000]

,Level,Date and Time,Source,Event ID,Task Category,Log,Computer,Unnamed: 7
6,Error,9/15/2017 8:33,Application Error,1000,-100,Application,testhost149.jakarta.com,"Faulting application name: OUTLOOK.EXE, versio..."
30,Error,9/15/2017 8:42,Application Error,1000,-100,Application,testhost284.jakarta.com,"Faulting application name: OUTLOOK.EXE, versio..."

## ある文字列が含んでいる行を抜く

In [12]:
df.iloc[:,7].head()

0      JAKARTA\sulaiman
1    JAKARTA\mahendrars
2       JAKARTA\pahlevi
3        JAKARTA\Helena
4         JAKARTA\lucky
Name: Unnamed: 7, dtype: object

In [13]:
df[df.iloc[:,7].str.contains("OUTLOOK.EXE")]
# df.iloc[:,7]がSeriesだから.strが使えるのか。

,Level,Date and Time,Source,Event ID,Task Category,Log,Computer,Unnamed: 7
6,Error,9/15/2017 8:33,Application Error,1000,-100,Application,testhost149.jakarta.com,"Faulting application name: OUTLOOK.EXE, versio..."
30,Error,9/15/2017 8:42,Application Error,1000,-100,Application,testhost284.jakarta.com,"Faulting application name: OUTLOOK.EXE, versio..."

* * *

In [14]:
for dataset in df:
    print(dataset)

Level
Date and Time
Source
Event ID
Task Category
Log
Computer
Unnamed: 7

In [15]:
for dataset in df:
    if dataset.iloc[:,7].str.contains("OUTLOOK.EXE") == True:
        print(df.index)

AttributeError: 'str' object has no attribute 'iloc'

* * *

## 正規表現である文字列が含んでいる行を抜く

In [16]:
#### str.match

In [17]:
from pandas import Series, DataFrame
import numpy as np
s2 = Series(['a_b_c', 'c_d_e', np.nan, 'f_g_h'])
#s2.str.split('_')
#s2.str.split('_').apply(Series)
s2.str.split('_').str.get(1)

0      b
1      d
2    NaN
3      g
dtype: object

In [18]:
pop = {'Nevada' : {2001 : "abc", 2002 : "def", 2000 : "opq"},
       'Ohio' : {2000 : "ghi", 2001 : "xyz", 2002: "stu"}}
df2 = DataFrame(pop)
# dfの'A'列の中で先頭が英小文字に当たる行のみを抽出して、dfを更新する
df2

     Nevada Ohio
2000    opq  ghi
2001    abc  xyz
2002    def  stu

In [21]:
r = '^a[a-z]'
df2[df2['Nevada'].str.match(r)] # df['Nevada'].str.match(r)はブールインデックス

     Nevada Ohio
2001    abc  xyz

## describe()を調整しながら、パーセンタイルをチェック

In [32]:
train_df = pd.read_csv('testdata/train.csv')
test_df = pd.read_csv('testdata/test.csv')
combine = [train_df, test_df]
#combine

In [33]:
train_df.describe()
# Review survived rate using `percentiles=[.61, .62]` knowing our problem description mentions 38% survival rate.
# Review Parch distribution using `percentiles=[.75, .8]`
# SibSp distribution `[.68, .69]`
# Age and Fare `[.1, .2, .3, .4, .5, .6, .7, .8, .9, .99]`

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [35]:
train_df["Survived"].describe(percentiles=[.61, .62])
# Review survived rate using `percentiles=[.61, .62]` knowing our problem description mentions 38% survival rate.

count    891.000000
mean       0.383838
std        0.486592
min        0.000000
50%        0.000000
61%        0.000000
62%        1.000000
max        1.000000
Name: Survived, dtype: float64

In [36]:
train_df.describe(include=['O'])
# To limit the result to numeric types submit numpy.number.
# To limit it instead to categorical objects submit the numpy.object data type. 
# Strings can also be used in the style of select_dtypes (e.g. df.describe(include=['O']))
# Stringもdescribeできる。ここからだｔEmberkedが3種類ユニークな値があって、一番多いのが"S"ということがわかる。

                               Name   Sex Ticket Cabin Embarked
count                           891   891    891   204      889
unique                          891     2    681   147        3
top     Abbott, Mr. Rossmore Edward  male   1601    G6        S
freq                              1   577      7     4      644

## pivotで関連があるかを調査

In [39]:
# 関連あり
train_df[['Pclass', 'Survived']].groupby(['Pclass'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   Pclass  Survived
0       1  0.629630
1       2  0.472826
2       3  0.242363

In [40]:
# 関連無し
train_df[["SibSp", "Survived"]].groupby(['SibSp'], as_index=False).mean().sort_values(by='Survived', ascending=False)
# 関連がなければ、削除したり、または他の要素とあわせて追加する

   SibSp  Survived
1      1  0.535885
2      2  0.464286
0      0  0.345395
3      3  0.250000
4      4  0.166667
5      5  0.000000
6      8  0.000000

In [22]:
combine = [df2,df2]
combine

[     Nevada Ohio
 2000    opq  ghi
 2001    abc  xyz
 2002    def  stu,      Nevada Ohio
 2000    opq  ghi
 2001    abc  xyz
 2002    def  stu]

In [23]:
df1 = DataFrame(np.arange(25).reshape((5,5)),index=['NYC','LA','SF','DC','Chi'],columns=['A','B','C','D','E'])
df2 = DataFrame(np.arange(25).reshape((5,5)),index=['NYC','LA','SF','DC','Chi'],columns=['A','B','C','D','E'])
df3 = [df1,df2]
df3

[      A   B   C   D   E
 NYC   0   1   2   3   4
 LA    5   6   7   8   9
 SF   10  11  12  13  14
 DC   15  16  17  18  19
 Chi  20  21  22  23  24,       A   B   C   D   E
 NYC   0   1   2   3   4
 LA    5   6   7   8   9
 SF   10  11  12  13  14
 DC   15  16  17  18  19
 Chi  20  21  22  23  24]

In [24]:
print(len(df3))

2

In [ ]:
#### str.extract

In [25]:
for dataset in combine:
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

pd.crosstab(train_df['Title'], train_df['Sex'])

AttributeError: 'DataFrame' object has no attribute 'Name'

[](https://qiita.com/irs/items/4ebbfd8bef63db1892fb)
[](https://chrisalbon.com/python/pandas_regex_to_create_columns.html)